UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterDefinitionReturnType: All
SpacesInParentheses: true