[submodule "tool/caprice32/caprice32"]
	path = tool/caprice32/caprice32
	url = https://github.com/cpcitor/caprice32
	branch = integration_with_cdtc

[submodule "tool/gfx2crtc/gfx2crtc"]
	path = tool/gfx2crtc/gfx2crtc
	url = https://github.com/cpcsdk/gfx2crtc
[submodule "tool/deexo/deexo"]
	path = tool/deexo/deexo
	url = https://github.com/antoniovillena/deexo
[submodule "tool/cpcec/cpcec"]
	path = tool/cpcec/cpcec
	url = https://github.com/cpcitor/cpcec
[submodule "tool/playtzx/playtzx"]
	path = tool/playtzx/playtzx
	url = https://github.com/tcat-qldom/PlayTZX
[submodule "tool/rasm/rasm"]
	path = tool/rasm/rasm
	url = https://github.com/EdouardBERGE/rasm
