*.cpc
*.tmp
\#*#
.#*
*.html
*.disabled
*.bak

*~
*.asm
*.bak
*.bin
*.bin.log
*.binamsdos
*.binamsdos.log
build_config.inc
*.buildtree/
*.cdt
download
*.downloadlog.txt
*.dsk
*.ihx
*.installtree/
*.lib
*.lk
*.lst
*.map
*.noi
*.opt
*.ref
*.rel
*.rst
*.sym
*.tar.bz2
*.tgz
*.tmp
*.voc

printer.txt
*.dump*_*.dot
*~HEAD
*~junk
*~Junk

*.binamsdos
*.binamsdos.log
*.orig
*.au
**/debug.txt
**/wGui.log
.build_dependencies_checked
*.generated*